<div class="card-product" [ngClass]="inCart ? 'in-cart' : 'not-in-cart'">
  @if (!inCart) {
    <p class="type-saison" [ngClass]="product?.season != null && isSeasonProduct(product!.season) ? 'season' : 'not-season'">
      {{ product?.season != null && isSeasonProduct(product!.season) ? 'De saison' : 'Hors saison' }}
    </p>

    <div class="centered-infos">
      <!--<img [src]="getImageUrl()" alt="{{ product?.name }}" class="img-product" />-->
      <img class="img-product" src="../../content/images/tomate.png" alt="{{ product?.name }}" />
      <p class="title-product">{{ product?.name }}</p>
      <div class="weight-infos">
        <p>{{ product?.weight }}g/pièce</p>
        <p>{{ priceByKg }}€/kg</p>
      </div>
    </div>
    <p class="origin-product">{{ product?.origin }}</p>
    <div class="centered-infos div-cart">
      <p class="price-product">{{ priceProduct!.toFixed(2).replace('.', ',') }}€</p>
      @if (quantity == 0) {
        <button class="add-cart-btn" (click)="plusQuantity()">Panier</button>
      } @else {
        <div class="change-qt">
          <button class="minus-btn" (click)="minusQuantity()">-</button>
          <!--TODO add blocage type nb (mozilla)-->
          <input type="number" id="qt-input" name="qt" [value]="quantity" required min="0" max="99" minlength="1" maxlength="2" size="2" />
          <button class="plus-btn" (click)="plusQuantity()">+</button>
        </div>
      }
    </div>
  } @else {
    <div class="main-infos">
      <img class="img-product-cart" src="../../content/images/tomate.png" alt="tomate rouge" />
      <div class="title-origin-infos">
        <p class="title-product">{{ product?.name }}</p>
        <p class="origin-product">{{ product?.origin }}</p>
      </div>
      <div class="weight-infos-cart">
        <p>{{ 'poids:' + product?.weight + 'g' }}</p>
        <!--<p>{{ product?.price != null && product?.weight != null ? (product.price / product.weight) }}</p>-->
      </div>
    </div>

    <div class="qtt-infos div-cart">
      <p class="price-product">{{ totalPriceProduct.toFixed(2).replace('.', ',') }}€</p>
      <div class="change-qt">
        <button class="minus-btn" (click)="minusQuantity()">-</button>
        <!--TODO add blocage type nb (mozilla)-->
        <input
          type="number"
          id="qt-input"
          name="qt"
          [value]="quantity"
          (input)="onInputChange($event)"
          (blur)="onBlur($event)"
          required
          min="0"
          max="99"
          minlength="1"
          maxlength="2"
          size="2"
        />
        <button class="plus-btn" (click)="plusQuantity()">+</button>
      </div>
      <button class="del-btn" (click)="deleteArticleFromCart()">del</button>
    </div>
  }
</div>
