@import '../../content/scss/colors.scss';

.card-product {
  background-color: white;
  border-radius: 25px;
  margin: 0.5em;

  &.not-in-cart {
    padding: 1em 2em;
    max-width: fit-content;
    min-width: 250px;
  }

  &.in-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 2em;
  }
}

.in-cart p {
  margin: 0;
}

.type-saison {
  //inclusions comme ça pour exemple
  &.season {
    color: $asparagus;
  }
  &.not-season {
    color: $fire-engine-red;
  }
}

.img-product {
  max-width: 60%;
  height: auto;
}

.prod-oos {
  filter: grayscale(0.9);
  opacity: 0.4;
}

.img-product-cart {
  max-width: 20%;
  height: auto;
}

.title-origin-infos {
  margin-right: 3em;
}

.main-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centered-infos {
  text-align: center;
}

.title-product {
  font-weight: bold;
  font-size: 1.5rem;
}

.weight-infos {
  display: flex;
  justify-content: space-between;
  color: grey;
  & p {
    font-size: 1.05em;
  }
}

.weight-infos-cart {
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.origin-product {
  font-style: italic;
  margin: 0;
}

.div-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

div[class='centered-infos div-cart'] {
  align-items: flex-end;
  height: 2.5em;
}

.price-product {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
}

.qtt-infos .change-qt {
  margin-inline: 1em;
}

//No arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
}

.change-qt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

input {
  width: 1.7em;
}

.del-btn {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  padding: 0;
}

button.minus-btn,
button.plus-btn {
  padding: revert;
  border-radius: 50%;
  width: 1.75em;
  text-align: center;
  font-weight: bold;
}

.plus-btn {
  margin-left: 0.25em;
  background-color: $vanilla-green;
  border: 1px solid $vanilla-green;
  &:hover {
    background-color: $yellow-green;
  }

  &:active {
    background-color: $asparagus;
  }
}

.minus-btn {
  margin-right: 0.25em;
}

.add-cart-btn {
  max-width: fit-content;
  background-color: $vanilla-green;
  border: 1px solid $vanilla-green;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0.25em;

  &:hover {
    background-color: $yellow-green;
  }

  &:active {
    background-color: $asparagus;
  }
}

.error-msg {
  text-align: right;
  color: $fire-engine-red;
  margin-top: 1em;
  margin-bottom: 0;
  margin-inline: 1.5em;
}
