@import '../../../content/scss/colors.scss';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.navbar-title {
  font-family: 'Brush Script MT', cursive;
  font-size: 28px;
}

.navbar {
  background-color: $vanilla-green;
  a {
    color: $hunter-green;
  }

  .dropdown-item:hover {
    background-color: $hunter-green;
    color: $baby-powder;
  }
}

.container-fluid {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 0.2em;
}

.cart-info {
  margin: 0;
}

jhi-searchbar {
  width: 40%;
}

.price-cart {
  font-weight: bold;
}

fa-icon + span {
  color: black;
  + p {
    color: black;
  }
}
