<div>
  <h2 id="page-heading" data-cy="ClientOrderHeading">
    <span jhiTranslate="ecomApp.clientOrder.home.title">Client Orders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="ecomApp.clientOrder.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-client-order"
        [routerLink]="['/client-order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="ecomApp.clientOrder.home.createLabel">Create a new Client Order</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="ecomApp.clientOrder.home.search">Search for Client Order</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'ecomApp.clientOrder.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (clientOrders?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="ecomApp.clientOrder.home.notFound">No Client Orders found</span>
    </div>
  }

  @if (clientOrders && clientOrders.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.clientOrder.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orderDate">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.clientOrder.orderDate">Order Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deliveryDate">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.clientOrder.deliveryDate">Delivery Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deliveryAddress">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.clientOrder.deliveryAddress">Delivery Address</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.clientOrder.status">Status</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="totalPrice">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.clientOrder.totalPrice">Total Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="client.id">
              <div class="d-flex">
                <span jhiTranslate="ecomApp.clientOrder.client">Client</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (clientOrder of clientOrders; track trackId(clientOrder)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/client-order', clientOrder.id, 'view']">{{ clientOrder.id }}</a>
              </td>
              <td>{{ clientOrder.orderDate | formatMediumDate }}</td>
              <td>{{ clientOrder.deliveryDate | formatMediumDate }}</td>
              <td>{{ clientOrder.deliveryAddress }}</td>
              <td [jhiTranslate]="'ecomApp.EnumStatus.' + (clientOrder.status ?? 'null')">
                {{ { null: '', IN_PROGRESS: 'IN_PROGRESS', SHIPPED: 'SHIPPED', CANCELLED: 'CANCELLED' }[clientOrder.status ?? 'null'] }}
              </td>
              <td>{{ clientOrder.totalPrice }}</td>
              <td>
                @if (clientOrder.client) {
                  <div>
                    <a [routerLink]="['/client', clientOrder.client.id, 'view']">{{ clientOrder.client.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/client-order', clientOrder.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/client-order', clientOrder.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(clientOrder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
