@import '../../content/scss/colors.scss';

::ng-deep p-breadcrumb {
  li {
    height: 1em;
  }
  a {
    color: $hunter-green;
    font-weight: bold;
  }
}

.my-cart-link-home {
  display: flex;
  margin-bottom: 1em;
  h2 {
    cursor: pointer;
  }
}

.cart-infos {
  display: flex;
  flex-wrap: wrap;
}

.above-list {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.75em;

  & h4 {
    padding-left: 1em;
  }
}

.list {
  min-width: 100px;
  flex-grow: 2;
}

#empty-cart {
  color: $bittersweet-shimmer;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.content-cart {
  display: flex;
  justify-content: space-around;
  font-size: 1.1em;
  margin: 1em 0;
}

.total-price {
  color: $asparagus;
  font-weight: bold;
}

aside {
  max-width: 350px;
  margin-left: 1em;
}

.ticket {
  background-color: white;
  text-align: center;
  padding: 0.8em 1em;
  height: fit-content;
}

h3,
h4 {
  font-weight: bold;
}

fa-icon {
  cursor: pointer;
  font-size: 1.75em;
  color: grey;
  margin-right: 0.5em;
}

.info-empty {
  margin-top: 1em;
}
