<nav>
  <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
</nav>

<button id="empty-cart" class="btn btn-primary" (click)="onClearButtonClick()">Vider mon panier</button>
<div class="product-list">
  <div *ngFor="let aliment of aliments">
    <jhi-card-product
      [product]="aliment"
      [priceProduct]="aliment.price"
      [inCart]="true"
      (quantityChanged)="onQuantityChanged()"
    ></jhi-card-product>
  </div>
</div>
<div class="total-price">
  <p>Total Price: {{ totalPrice.toFixed(2).replace('.', ',') }}€</p>
</div>
<button id="goto-home" class="btn btn-primary" (click)="onButtonClick()" [routerLink]="['']">Catalogue</button>
<button id="validate-cart" class="btn btn-primary" (click)="onValidateButtonClick()">Valider mon panier</button>
