<div class="row">
  <nav>
    <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
  </nav>

  <!--col-md-3 met au bon endroit par rapport au contente de la page-->
  <aside class="col-md-3 filters">
    <div class="filter-top">
      <p>Filtres</p>
      <button class="normal-btn" id="apply-filters" (click)="onApplyFilters()">Appliquer</button>
    </div>

    <hr />
    <div class="filter-cat">
      <button class="collapsible" (click)="toggleNavbar()">Catégories</button>
      <div class="list-cb" [ngbCollapse]="isCatCollapsed()">
        <div *ngFor="let category of categories">
          <input
            class="cb-cat"
            type="checkbox"
            [id]="category.concat('-cb')"
            [name]="category"
            [checked]="selectedCategories.includes(category)"
          />
          <label [for]="category.concat('-cb')">{{ category }}</label>
        </div>
      </div>
    </div>
    <button class="negative-btn" id="remove-filters" (click)="onRemoveFilters()">Retirer les filtres</button>
  </aside>

  <div class="col-md-9">
    <div class="sort">
      <p>Trier par :</p>
      <select id="sort-select" (change)="onSortEvent($event)">
        <option value="default">Pertinence</option>
        <option value="ordered_price">Prix croissant</option>
        <option value="unordered_price">Prix décroissant</option>
        <option value="alpha">Ordre alphabétique</option>
      </select>
    </div>
    <div class="product-list">
      @if (noProduct) {
        <p>Aucun produit ne correspond à votre recherche.</p>
      } @else {
        @if (isSorted) {
          <div
            *ngFor="
              let aliment of sortedFilteredAliments.length > 0
                ? sortedFilteredAliments
                : sortedSearchedAliments.length > 0
                  ? sortedSearchedAliments
                  : sortedAliments
            "
          >
            <jhi-card-product [product]="aliment" [priceProduct]="aliment.price"></jhi-card-product>
          </div>
        } @else {
          <div
            *ngFor="
              let aliment of filteredAliments.length > 0 ? filteredAliments : searchedAliments.length > 0 ? searchedAliments : aliments
            "
          >
            <jhi-card-product [product]="aliment" [priceProduct]="aliment.price"></jhi-card-product>
          </div>
        }
      }
    </div>
  </div>
</div>
