@import '../../content/scss/colors.scss';
/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}

.product-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.row {
  background-color: $baby-powder;
}

::ng-deep p-breadcrumb {
  li {
    height: 1em;
  }
  a {
    color: $hunter-green;
    font-weight: bold;
  }
}

nav {
  margin-bottom: 1em;
}

.filters {
  text-align: center;
  background-color: $parchment;
  border-radius: 25px;
  padding: 0.8em 1em;
  height: fit-content;
  max-width: 300px;
  button {
    font-size: 0.9rem;
  }
}

.filter-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8em;

  & p {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
  }
  & button {
    font-size: 0.95rem;
  }
}

.sort {
  display: flex;
  align-items: baseline;

  #sort-select {
    margin-inline: 0.5em;
  }
}

#remove-filters {
  margin-top: 1em;
}

.collapsible {
  background-color: transparent;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  padding: 0;
}

.collapsible:after {
  content: '▾';
  float: right;
  margin-left: 5px;
}

.filter-cat:has(> .show) {
  .collapsible:after {
    content: '▴';
  }
}

.list-cb {
  text-align: left;
  margin: 0.4em 1em 0em;
}

hr {
  margin-block: 0.8em;
}

.sort p {
  margin-left: 0.5em;
}

select {
  background-color: $parchment;
  border: none;
  border-radius: 10px;
  padding: 0.35em;
  transition: 0.2s;

  &:hover {
    background-color: $vanilla-green;
  }
}
