<div class="row">
  <nav>ariane</nav>

  <!--col-md-3 met au bon endroit par rapport au contente de la page-->
  <aside class="col-md-3 filters">
    <div class="filter-top">
      <p>Filtres</p>
      <button id="apply-filters" (click)="onApplyFilters()">Appliquer</button>
    </div>

    <hr />
    <div class="filter-cat">
      <button class="collapsible" (click)="toggleNavbar()">Catégories</button>
      <div class="list-cb" [ngbCollapse]="isCatCollapsed()">
        <div>
          <input class="cb-cat" type="checkbox" name="cb-fruit" id="cb-fruit" />
          <label for="cb-fruit">Fruits</label>
        </div>
        <div>
          <input class="cb-cat" type="checkbox" name="cb-vegetable" id="cb-vegetable" [checked]="isSelected" />
          <label for="cb-vegetable">Légumes</label>
        </div>
      </div>
    </div>
    <button id="remove-filters" (click)="onRemoveFilters()">Retirer les filtres</button>
  </aside>

  <div class="col-md-9">
    <div class="sort">
      <p>Trier par :</p>
      <select id="sort-select">
        <option value="default">Défaut</option>
        <option value="ordered_price">Prix croissant</option>
        <option value="unordered_price">Prix décroissant</option>
        <option value="alpha">Ordre alphabétique</option>
      </select>
    </div>
    <!--
    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message" jhiTranslate="home.logged.message" [translateValues]="{ username: accountRef.login }"
              >You are logged in as user &quot;{{ accountRef.login }}&quot;.</span
            >
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
          <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
          ><span jhiTranslate="global.messages.info.authenticated.suffix"
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;) <br />- User
            (login=&quot;user&quot; and password=&quot;user&quot;).</span
          >
        </div>

        <div class="alert alert-warning">
          <span jhiTranslate="global.messages.info.register.noaccount">You don&apos;t have an account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
        </div>
      }
    </div>
  -->
    <!-- temporary button for cart validation tests -->
    <button
      id="validate-cart"
      class="btn btn-primary"
      [class.btn-secondary]="isCartEmpty()"
      [disabled]="isCartEmpty()"
      (click)="onButtonClick()"
    >
      Validate Cart
    </button>

    <!-- temporary buttons for cart frontend manipulation tests -->
    <button id="add-pomme" class="btn btn-primary" (click)="onAddPommeButtonClick()">+Pomme</button>

    <button id="add-banane" class="btn btn-primary" (click)="onAddBananeButtonClick()">+Banane</button>

    <button id="goto-cart" class="btn btn-primary" (click)="onCartButtonClick()" [routerLink]="['/cart']">Go to cart</button>
    <div class="product-list">
      <div *ngFor="let aliment of aliments">
        <jhi-card-product [product]="aliment" [priceProduct]="aliment.price"></jhi-card-product>
      </div>
    </div>
  </div>
</div>
