<p>delivery works!</p>
<button id="goto-cart" class="btn btn-primary" [routerLink]="['']">Retour au panier</button>
<form (ngSubmit)="onValidateButtonClick()">
  <p>Date de livraison :</p>
  <div class="form-group">
    <label for="day">Jour</label>
    <input
      type="number"
      required
      minlength="1"
      min="1"
      max="31"
      class="form-control"
      id="day"
      name="day"
      [(ngModel)]="day"
      #jour="ngModel"
    />
    <div *ngIf="jour.invalid && (jour.dirty || jour.touched)" class="alert alert-danger">
      <div *ngIf="jour.errors && jour.errors.required">Ce champ est obligatoire.</div>
      <div *ngIf="jour.errors && (jour.errors.min || jour.errors.max)">Valeur incorrecte.</div>
    </div>
    <label for="month">Mois</label>
    <input
      type="number"
      required
      minlength="1"
      min="1"
      max="12"
      class="form-control"
      id="month"
      name="month"
      [(ngModel)]="month"
      #mois="ngModel"
    />
    <div *ngIf="mois.invalid && (mois.dirty || mois.touched)" class="alert alert-danger">
      <div *ngIf="mois.errors && mois.errors.required">Ce champ est obligatoire.</div>
      <div *ngIf="mois.errors && (mois.errors.min || mois.errors.max)">Valeur incorrecte.</div>
    </div>
    <label for="year">Année</label>
    <input
      type="number"
      required
      minlength="4"
      min="2024"
      max="3000"
      class="form-control"
      id="year"
      name="year"
      [(ngModel)]="year"
      #annee="ngModel"
    />
    <div *ngIf="annee.invalid && (annee.dirty || annee.touched)" class="alert alert-danger">
      <div *ngIf="annee.errors && annee.errors.required">Ce champ est obligatoire.</div>
      <div *ngIf="annee.errors && (annee.errors.min || annee.errors.max)">Valeur incorrecte.</div>
    </div>
  </div>

  <p>Lieu de livraison :</p>
  <div class="form-group">
    <label for="street">Adresse postale</label>
    <input type="text" required maxlength="128" class="form-control" id="street" name="street" [(ngModel)]="street" #rue="ngModel" />
    <div *ngIf="rue.invalid && (rue.dirty || rue.touched)" class="alert alert-danger">
      <div *ngIf="rue.errors && rue.errors.required">Ce champ est obligatoire.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="code">Code postal</label>
    <input type="text" required maxlength="16" class="form-control" id="code" name="code" [(ngModel)]="code" #codepostal="ngModel" />
    <div *ngIf="codepostal.invalid && (codepostal.dirty || codepostal.touched)" class="alert alert-danger">
      <div *ngIf="codepostal.errors && codepostal.errors.required">Ce champ est obligatoire.</div>
    </div>
  </div>
  <div class="form-group">
    <label for="city">Ville</label>
    <input type="text" required maxlength="128" class="form-control" id="city" name="city" [(ngModel)]="city" #ville="ngModel" />
    <div *ngIf="ville.invalid && (ville.dirty || ville.touched)" class="alert alert-danger">
      <div *ngIf="ville.errors && ville.errors.required">Ce champ est obligatoire.</div>
    </div>
  </div>
  <div *ngIf="jour.valid && mois.valid && annee.valid && rue.valid && codepostal.valid && ville.valid">
    <button type="submit">Valider mes informations</button>
  </div>
</form>
