$baby-powder: #fcfaf5;
$parchment: #f2e8cf;
$vanilla-green: #cdd993;
$yellow-green: #a7c957;
$asparagus: #6a994e;
$hunter-green: #386641;
$rosy-brown-hover: #e3b6aa;
$rosy-brown: #d99b89;
$imperial-red: #ee4e4e;
$fire-engine-red: #d42525;
$bittersweet-shimmer: #bc4749;
